.vscode
*.pyc
/src/mpi_collectives/reduce/simfab_traces/
/src/mpi_collectives/reduce/out/

/src/mpi_collectives/reduce_2d/simfab_traces/
/src/mpi_collectives/reduce_2d/out/
/src/mpi_collectives/prefix_sum_1d/out/
/src/mpi_collectives/prefix_sum_1d/simfab_traces/
/src/mpi_collectives/switches/
/src/mpi_collectives/allreduce_1d/
/src/mpi_collectives/reduce_1d_2colors/

/src/mpi_collectives/reduce_specific_pe/
/src/mpi_collectives/reduce_0_pe/reduce_2colors_dynamic/
/src/mpi_collectives/reduce_0_pe/reduce_2colors_2phase/simfab_traces/
/src/mpi_collectives/reduce_0_pe/reduce_2colors_2phase/out/

/src/*/simfab_traces/*
/src/*/out/*

/src/*/test_vectors/*
/src/memory_limits/mat_*

/src/grid_csc_padshift/CSC_*
/src/grid_csr_padshift/CSR_*
/src/grid_custom_padshift/COO_*
/src/grid_ellpack_padshift/ELLPACK_*
/src/gemm_padshift/CSC_*